.convertion-wrapper {
  margin-top: 70px;
  height: 100%;
  width: 100%;
  background-color: #fff;

  .container {
    .middle {
      padding: 20px;
      background-color: rgba(230, 226, 221, 0.2);
      height: 80vh;
      box-shadow: 5px 10px 18px #888888;
      border-radius: 5%;


      font-size: larger;
      font-family: cursive;

    }

  }

}
