<div class="convertion-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-2"></div>
            <div class="col-md-8 col-sm-8 col-8">
                <div class="middle">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-5">
                            <div class="d-flex flex-column align-items-center justify-content-center ">
                                <div style="margin-bottom: 100px;">{{origin_file | uppercase}}</div>
                                <div>
                                    <div class="form-group">
                                        <input type="file" (change)="uploadFile($event)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-2">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div style="margin-bottom: 100px;"><i class="fa fa-exchange" aria-hidden="true" (click)="changeFormat()"></i></div>
                                <div>
                                    <button mat-raised-button color="primary" (click)="ConvertFile()">Chuyển</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-5">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div style="margin-bottom: 100px;">{{new_file | uppercase}}</div>
                                <div *ngIf="link_download != ''">
                                    <a [href]="link_download" >Download file convert</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress form-group" *ngIf="progress > 0">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [style.width.%]="progress">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-2"></div>
        </div>
    </div>
</div>
<!-- <form [formGroup]="form" (ngSubmit)="submitUser()">

    <div class="form-group">
        <input type="file" (change)="uploadFile($event)">
    </div>


    <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            [style.width.%]="progress">
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-danger btn-block btn-lg">Create</button>
    </div>
</form> -->